h1 {
    margin: 5px;
}

html {
    background:
    repeating-linear-gradient(
        -45deg,
        transparent 0,
        transparent 25%,
        #79d29d 0,
        #79d29d 50%
   ),
   repeating-linear-gradient(
        45deg,
        transparent 0,
        transparent 25%,
        #6fc391 0,
        #6fc391 50%
    ),
    repeating-linear-gradient(
        transparent 0,
        transparent 25%,
        #7fe3a7 0,
        #7fe3a7 50%
    ), #6fc391;
    background-blend-mode: multiply;
    background-size: 5px 5px;

}

html, body, #app, .game-space {
    height: 100%;
    width: 100%;
}

.lobby {
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.player-input {
    width: 100px;
}

.play-button {
    width: 150px;
    height: 40px;
    margin-top: 10px;
}

.game-space {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dealer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.players {
    display: flex;
    margin: 0 auto;
    max-width: 100%;
    overflow-x: auto;
}

.player-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playerhand {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playing-card {
    width: 100px;
    height: 125px;
}

.playerhand.active * .playing-card {
    width: 200px;
    height: 250px;
}

.bust, .loss{
    background-color: rgba(255, 20, 20, 0.5);
}

.player-cards {
    display: flex;
}

.player-cards.active {
    display: flex;
    margin: 0 auto;
    overflow-x: auto;
}

.playing-card {
    border: 1px solid grey;
    border-radius: 10px;
    margin: 5px;
}

.action-button {
    display: inline-block;
    padding: 5px;
    margin-left: 10px;
    width: 150px;
}

.actions {
    display: none;
}
.actions.active {
    display: block;
}

.outcome-screen {
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid rgb(50, 50, 50);
    border-radius: 10px;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10px;
}

@media screen and (max-width: 600px) {
    .playing-card {
        width: 100px;
        height: 125px;
    }

    .playerhand.active * .playing-card {
        width: 150px;
        height: 200px;
    }

    .players {
        justify-content: space-between;
    }

    .player-cards.active {
        justify-content: space-between;
    }
}

@media screen and (max-height: 650px) {
    .playing-card {
        width: 50px;
        height: 75px;
    }

    .playerhand.active * .playing-card {
        width: 75px;
        height: 100px;
    }
}